:root {
    --base-color: 326, 100%;
    --base-font-color: 326, 100%;
}
ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style-type: none;
    padding-left: 5px;
    font-size: larger;
    font-weight: 520;
    margin-top: 1.5rem;
}

p {
    color: hsl(var(--base-color), 30%)
}

a,
div > h1 {
    color: hsl(var(--base-color), 50%);
    transition: 1s ease;
}

.header {
    background: hsl(var(--base-color), 20%);
    padding: 2.5rem;
    text-align: center;
    color: white;
    margin: 0;
    
}

a:hover {
    background: hsl(var(--base-color), 20%);
    padding: 12px;
    bottom: 5px;
    box-shadow: 0px 5px 4px darkgrey;
    transition: 1s ease;
    color: white;
}

a {
    text-decoration: none;
    box-shadow: 0px 2px 3px darkgrey;
    padding: 8px;
    position: relative;
    border-radius: 3px;
    bottom: 0;
    transition: 1s ease;
   
}

.p1,
.p2 {
    transition: 1s ease;
}

.p1:hover,
.p2:hover  {
    background: hsl(var(--base-color), 20%);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1px;
    transition: 1s ease;
}

.p1:last-child {
    transition: 1s ease;
}

.p1:hover p,
.p2:hover p,
.p1:hover h1,
.p2:hover h1 {
    color: white;
    transition: 1s ease;
}

.p1:hover h1,
.p2:hover h1 {
    padding-top:7px;
}

footer {
    margin-top: 15px;
    bottom: 0;
    text-align: center;
    width: 100%;
    border-top: 1px solid grey;
}